.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display:inline-block;
    margin-top: 5px;

}#content{
    height: 550px;
}

footer{
    text-align: center;
    background-color: #9D3636;
    color: white;
 
}

