div{
    height: 200px;
    width: 200px;
    background-color: rgb(12, 235, 235);
    border: 2px solid black;
    transition-property: all;
    transition-duration: 1s;
    color:rgb(1, 61, 27);
    transition-timing-function:  ease-in-out(2)
  
   

    
}
div:hover{
    background-color: dodgerblue;
    color: aliceblue;
    
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
  text-transform: capitalize;
    /* transition:all 2s ease-in-out(3) 1s;   =teansiation short-hand */
  transform: skew(15deg);/* it will help in large the tag from top and bottom side*/
  transform: translate(200px) rotate(45deg);
 
}
