#ipx23{
    height: 300px;
    width: 250px;
    background-image:url(nature\ photo.jpg);
    background-size: cover;
    position: relative;
    font-size: 50px;
    color:#4561bd;
    border:5px solid rgb(54, 58, 138) ;
   border-radius: 25px;
   position:fixed;
   right: 0px;
   top: 190px;

}
   
